<ion-header>
  <ion-toolbar>
    <ion-title>Menu de albumes de la banda Paramore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-center">
      <h3>Seleccione un album para ver su contenido</h3>
    </div>
  </ion-col>

<ion-content>

<ion-button color="primary" (click)="page1()">All We Know (2005)</ion-button>
<br>
<ion-button color="secondary"(click)="page2()">Riot! (2007)</ion-button>
<br>
<ion-button color="tertiary"(click) ="page3()">The Final Riot! (2008)</ion-button>
<br>
<ion-button color="success"(click) ="page4()">Brand New Eyes (200)</ion-button>
<br>
<ion-button color="warning"(click) ="page5()">Paramore (2013)</ion-button>
<br>
<ion-button color="medium"(click) ="page6()">After Laughter (2017)</ion-button>



</ion-content>
